.page {
    display: flex;
    height: calc(100% - 70px);
}


.sidebar {
    min-width: 200px;
}

.content {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    
}
.navbar {
    display: flex;
    background-color: #cc9610;
}
.pic {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    color = #ffffff; 
}