@inherits LayoutComponentBase

<link rel="icon" href=" C:\Users\malla\Downloads\Icon.ico" type="image/x-icon">


<div class="topbar shadow-sm">
    <nav class="navbar">
        <div class="container-fluid">
            
            <div class="pic">
            <img src="./Bilder/Casablanca.png" height="70" width="70"/>
            </div>
        </div>
    </nav>
</div>
<div class="page">
    <div class="sidebar bg-light shadow-sm">
        <NavMenu />
    </div>

    <div class="content">
        <main>     
            @Body
        </main>
    </div>
</div>
