@page "/"

<PageTitle>Home</PageTitle>

<style>
    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }
</style>

<div class="centered">
    <h2>Willkommen auf unserer Chat-Plattform</h2>

    <img src="./Bilder/casablanca_LOGO.jpg" alt="Begrüßungsbild">
    <p>
        Dies ist ein Projekt der flinken Gewinner<br />
    </p>
</div>